:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --black: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    
    font-family: 'Figtree', sans-serif;
    line-height: 150%;
    letter-spacing: 0rem;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background-color: var(--yellow);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    min-width: 327px;
    width: 100%;
    max-width: 384px;
    min-height: 501px;
    height: fit-content;
    max-height: 522px;
    
    margin: 0 1.5rem;
    padding: 1.5rem;

    border: 1px inset var(--gray-500);
    border-radius: 20px;
    box-shadow: 8px 8px 0 0 var(--black);

    background-color: var(--white);
}

.card-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 279px;
    min-height: 200px;
    
    object-fit: cover;
    
    border-radius: 10px;
}

.blog-preview {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.category {
    display: flex;
    align-items: center;

    width: clamp(4.5625rem, 4.3644rem + 0.8451vw, 5.125rem);
    height: clamp(1.625rem, 1.559rem + 0.2817vw, 1.8125rem);

    padding: 0 0.75rem;

    border-radius: 4px;

    background-color: var(--yellow);
    color: var(--gray-950);

    font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
    font-weight: 800;
    text-align: center;
}

.publish-info {
    display: flex;
    align-items: center;

    height: clamp(1.125rem, 1.059rem + 0.2817vw, 1.3125rem);
    
    font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
    font-weight: 500;
}

.blog-title {
    display: flex;
    align-items: center;

    height: clamp(1.875rem, 1.743rem + 0.5634vw, 2.25rem);

    font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);

    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.blog-short-description {
    display: flex;
    align-items: center;

    height: clamp(3.9375rem, 3.7394rem + 0.8451vw, 4.5rem);

    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);

    color: var(--gray-500);
}

.author {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    width: 129px;
    height: 32px;
}

.author-avatar {
    width: 32px;
    height: 32px;
}

.author-name {
    display: flex;
    align-items: center;

    font-size: 0.875rem;
    font-weight: 800;
}

.blog-title:hover,
.blog-title:focus {
    color: var(--yellow); 
}

@media (prefers-reduced-motion: reduce) {
    .blog-title {
        transition-duration: 1s;
    }
}